<!DOCTYPE html>
<html lang="en">
{% load static %}
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>{% block title %} Bénin Exellence {% endblock %}</title>

    <meta property="og:title" content="{% block og_title %}LaliberteInfo{% endblock %}">
    <meta property="og:url" content="http://{{ request.META.HTTP_HOST }}{{ request.path }}">
    <meta property="og:description" content="{% block og_description %}Découvrez les dernières nouvelles, analyses et reportages sur la liberté, les droits de l'homme, la justice sociale, et bien plus encore. Restez informé avec beninexcellence{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% static 'assets/images/logo_laliberte.png' %}{% endblock %}">
    <meta name="description" content="Bienvenue sur beninexcellence.org ! Ici, nous partageons les dernières nouvelles, analyses et reportages sur la liberté, les droits de l'homme, la justice sociale, et bien plus encore. Restez informé avec nos articles détaillés et nos ressources enrichissantes. Explorez dès aujourd'hui !">
    <meta name="keywords" content="journalisme, actualités, nouvelles, liberté, droits de l'homme, justice sociale, reportages, analyses, informations, blog, beninexcellence, médias, presse, articles, ressources, engagement, liberté d'expression, droits civiques, justice, égalité">
    <meta name="author" content="beninexcellence">
    <meta name="robots" content="index, follow">
    <meta name="google-site-verification" content="">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    
    <!-- Design fonts -->
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet"> 

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
    


    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">

    <!-- FontAwesome Icons core CSS -->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <!-- <link href="style.css" rel="stylesheet"> -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Responsive styles for this template -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

    <!-- Colors for this template -->
    <link href="{% static 'css/colors.css' %}" rel="stylesheet">

    <!-- Version Garden CSS for this template -->
    <link href="{% static 'css/version/gardene.css' %}" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div id="wrapper">

        <header class="header">
            <div class="container">
                <nav class="navbar navbar-inverse navbar-toggleable-md">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Forest Timemenu" aria-controls="Forest Timemenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-md-center" id="Forest Timemenu">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="/" style="color: #06BBCC;">Retour à l'Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="{% url 'blog:post_list' %}" style="color: #06BBCC;">Actualités</a>
                             </li>
                            {% comment %} <li class="nav-item">
                                <a class="nav-link color-green-hover" href="#" style="color: #06BBCC;">Nos Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="#" style="color: #06BBCC;">Apropos de Nous</a>
                            </li>  
                            <li class="nav-item">
                                <a class="nav-link color-green-hover" href="#" style="color: #06BBCC;">Contact</a>
                            </li> {% endcomment %}
                        </ul>
                    </div>
                </nav>
                
            </div><!-- end container -->
        </header><!-- end header -->


{% block content %}
{% endblock %}

<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="widget">
                    <div class="footer-text text-center">
                        <a href="index.html"><img src="images/version/garden-footer-logo.png" alt="" class="img-fluid"></a>
                        <p></p>
                        <div class="social">
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>              
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                            <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                        </div> 

                        <hr class="invis">

                       
                    </div><!-- end footer-text -->
                </div><!-- end widget -->
            </div><!-- end col -->
        </div>

        <div class="row">
            <div class="col-md-12 text-center">
                <br>
                <br>
                <div class="copyright">&copy; Bénin Exellence: <a href="/">2025</a>.</div>
            </div>
        </div>
    </div><!-- end container -->
</footer><!-- end footer -->

<div class="dmtop" style="color: #06BBCC;">Scroll to Top</div>

</div><!-- end wrapper -->

<!-- Core JavaScript
================================================== -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/tether.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
</body>
</html>