{% extends 'blog/base.html' %}
{% load static %}
{% load cache %} <!-- Charge le tag de cache -->

{% block title %}{{ posts.title }}{% endblock %}

{% block og_title %}{{ posts.title }}{% endblock %}

{% block og_image %}
  {% if posts.image %}
    {{ posts.image.url }}
  {% else %}
    {% static 'assets/images/logo_laliberte.png' %}
  {% endif %}
{% endblock %}

{% block content %}

        <div class="page-title wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="fa fa-leaf bg-blue" style="color:#06BBCC"></i>Bénin-Excellence</h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'blog:post_list' %}">Accueil-Actualités</a></li>
                            <li class="breadcrumb-item active">Article-detail</li>
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">
                            <div class="blog-title-area">
                                <span class="color-white" style="background-color:#06BBCC; color:white;"><a href="{% url 'blog:detail' my_id=posts.id %}" title=""> {{ posts.category }} </a></span>

                                <h3>{{ posts.title }}</h3>

                                <div class="blog-meta big-meta">
                                    <small><a href="{% url 'blog:detail' my_id=posts.id %}" title="">{{ posts.publish }}</a></small>
                                    <small><a href="{% url 'blog:detail' my_id=posts.id %}" title="">{{ posts.author }}</a></small>
                                    <!-- <small><a href="#" title=""><i class="fa fa-eye"></i> 2344</a></small> -->
                                </div><!-- end meta -->

                                <!-- <div class="post-sharing">
                                    <ul class="list-inline">
                                        <li><a href="#" class="fb-button btn btn-primary"><i class="fa fa-facebook"></i> <span class="down-mobile">Share on Facebook</span></a></li>
                                        <li><a href="#" class="tw-button btn btn-primary"><i class="fa fa-twitter"></i> <span class="down-mobile">Tweet on Twitter</span></a></li>
                                        <li><a href="#" class="gp-button btn btn-primary"><i class="fa fa-google-plus"></i></a></li>
                                    </ul>
                                </div> -->
                                <!-- end post-sharing -->
                            </div><!-- end title -->

                            <div class="single-post-media">
                                <img src="{{ posts.image.url }}" alt="" class="img-fluid">
                            </div><!-- end media -->

                            <div class="blog-content">  
                                <div class="pp">
                                    <p>{{ posts.sous_title }}</p>

                                </div><!-- end pp -->
                                <div class="pp">
                                    <p> {{ posts.body|safe }} </p>
                                    <div class="blog-title-area">
                                        <div class="tag-cloud-single">
                                            <span>Tags :</span>
                                            {% for tag in post.tags.all %}
                                            <small><a href="{% url 'blog:tag_post_list' tag.slug %}" title="">#{{ tag }}</a></small>
                                            {% endfor %}
                                        </div><!-- end meta -->
                                    </div><!-- end title -->
                                </div><!-- end pp -->
                                <!-- <p><img src="{% static 'upload/garden_single_03.jpg' %}" class="float-left" width="340" alt=""> Commandez votre site dès maintenant</p> -->
                            </div><!-- end content -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="banner-spot clearfix">
                                        <div class="banner-img">
                                            <img src="upload/banner_01.jpg" alt="" class="img-fluid">
                                        </div><!-- end banner-img -->
                                    </div><!-- end banner -->
                                </div><!-- end col -->
                            </div><!-- end row -->

                            <hr class="invis1">

                            <hr class="invis1">
<!-- ***********************************--------------------*******************---------------------------->
                            <div class="custombox clearfix">
                                <h4 class="small-title">Vous aimerez peut-être aussi </h4>
                                <div class="row">
                                    <div class="col-lg-6">
                                        {% for post in populaires %}
                                        <div class="blog-box">
                                            <div class="post-media">
                                                <a href="{% url 'blog:detail' post.id %}" title="">
                                                    <img src="{{ post.image.url }}" alt="" class="img-fluid">
                                                    <div class="hovereffect">
                                                        <span class="">{{ post.tilte }}</span>
                                                    </div><!-- end hover -->
                                                </a>
                                            </div><!-- end media -->
                                            <div class="blog-meta">
                                                <h4><a href="" title="">{{ post.tilte }}</a></h4>
                                                <small><a href="{% url 'blog:detail' post.id %}" title="">{{ post.category }}</a></small>
                                                <small><a href="{% url 'blog:detail' post.id %}" title="">{{ post.publish }}</a></small>
                                            </div><!-- end meta -->
                                        </div><!-- end blog-box -->
                                        {% endfor %}
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end custom-box -->

                            <hr class="invis1">

                            <div class="custombox clearfix">
                                <h4 class="small-title">Les Commentaires</h4>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <!-- Liste des commentaires -->
                                        <div class="comments-list">
                                            {% for comment in comments %}
                                            <div class="media">
                                                <a class="media-left" href="#">
                                                    <img src="upload/author.jpg" alt="" class="rounded-circle">
                                                </a>
                                                <div class="media-body">
                                                    <h4 class="media-heading user_name"><span style="color:blue;">{{ comment.name }} </span>
                                                        <small>{{ comment.created|date:"d M Y" }}</small>
                                                    </h4>
                                                    <p>{{ comment.body }}</p>
                                                </div>
                                            </div>
                                            {% empty %}
                                            <p>Aucun commentaire pour l'instant. Soyez le premier à commenter !</p>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            
                                <!-- Section pour ajouter un nouveau commentaire -->
                                <div class="custombox clearfix">
                                    <h4 class="small-title">Laisser un commentaire ici</h4>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <form method="post" action="{% url 'blog:detail' my_id=posts.id %}" class="form-wrapper">
                                                {% csrf_token %}  <!-- Ajoutez ceci pour la protection CSRF -->
                                                <input type="text" class="form-control" name="name" placeholder="Your name">
                                                <input type="text" class="form-control" name="email" placeholder="Email address">
                                                <textarea class="form-control" name="body" placeholder="Your comment"></textarea>
                                                <button type="submit" class="btn btn-primary">Envoyer</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr class="invis1">
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->

                    <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                        <div class="sidebar">
                            <div class="widget">
                                <h2 class="widget-title">Search</h2>
                                <form class="form-inline search-form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Search on the site">
                                    </div>
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                                </form>
                            </div><!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title" style="color: #06BBCC;">Recent Posts</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        {% for post in dernier_posts %}
                                        <a href=" {% url 'blog:detail' post.id%}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{{ post.image.url }}" alt="" class="img-fluid float-left">
                                                <h5 class="mb-1">{{ post.title }}</h5>
                                                <small> {{ post.publish }} </small>
                                            </div>
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->
                            <hr class="invis"> 

                            <div class="widget">
                                <h2 class="widget-title" style="color: #06BBCC;">Posts Populairs</h2>
                                <div class="blog-list-widget">
                                    <div class="list-group">
                                        {% for post in populaires %}
                                        <a href=" {% url 'detail' post.id%}" class="list-group-item list-group-item-action flex-column align-items-start">
                                            <div class="w-100 justify-content-between">
                                                <img src="{{ post.image.url }}" alt="" class="img-fluid float-left">
                                                <h5 class="mb-1">{{ post.title }}</h5>
                                                <small> {{ post.publish }} </small>
                                            </div>
                                        </a>
                                        {% endfor %}
                                    </div>
                                </div><!-- end blog-list -->
                            </div><!-- end widget -->
                            <hr class="invis"> 

                            <div class="widget">
                                <h2 class="widget-title" style="color: #06BBCC;">Publicités</h2>
                                <div class="banner-spot clearfix">
                                    <div class="banner-img">
                                        <img src="{% static 'upload/affiche.png' %}" alt="" class="img-fluid">
                                    </div><!-- end banner-img -->
                                </div><!-- end banner -->
                            </div><!-- end widget -->

                            <!-- <div class="widget">
                                <h2 class="widget-title">Instagram Feed</h2>
                                <div class="instagram-wrapper clearfix">
                                    <a href="#"><img src="upload/garden_sq_01.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/garden_sq_02.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/garden_sq_03.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/garden_sq_04.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/garden_sq_05.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/garden_sq_06.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/garden_sq_07.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/garden_sq_08.jpg" alt="" class="img-fluid"></a>
                                    <a href="#"><img src="upload/garden_sq_09.jpg" alt="" class="img-fluid"></a>
                                </div>
                            
                            </div> -->
                            <!-- end widget -->

                            <div class="widget">
                                <h2 class="widget-title" style="color: #06BBCC;">Categories</h2>
                                <div class="link-widget">
                                    <ul>
                                        {% for cat in categories %}
                                        <li><a href="{% url 'blog:category_post_list' cat.slug %}">{{cat.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div><!-- end link-widget -->
                            </div><!-- end widget -->
                        </div><!-- end sidebar -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
       
{% endblock %}