{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

        <div class="page-title wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <h2><i class="fa fa-leaf bg-green"></i>LibertéInfo</h2>
                    </div><!-- end col -->
                    <div class="col-lg-4 col-md-4 col-sm-12 hidden-xs-down hidden-sm-down">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                            <li class="breadcrumb-item active">Nos Services</li>
                        </ol>
                    </div><!-- end col -->                    
                </div><!-- end row -->
            </div><!-- end container -->
        </div><!-- end page-title -->

        <section class="section wb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                        <div class="page-wrapper">

                            <div class="single-post-media">
                                <img src="#" alt="" class="img-fluid">
                            </div><!-- end media -->

                            <div class="blog-content">
                                {% for serv in services %}
                                <div class="pp">
                           

                                </div><!-- end pp -->
                                <div class="pp">
                                    <p> {{ serv.body|safe }} </p>
                            
                                    </div><!-- end title -->
                                </div><!-- end pp -->
                                {% endfor %}
                            </div><!-- end content -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="banner-spot clearfix">
                                        <div class="banner-img">
                                            <img src="upload/banner_01.jpg" alt="" class="img-fluid">
                                        </div><!-- end banner-img -->
                                    </div><!-- end banner -->
                                </div><!-- end col -->
                            </div><!-- end row -->

                            
                        </div><!-- end page-wrapper -->
                    </div><!-- end col -->
        
                </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </section>
       
{% endblock %}