{% extends 'homeapp/base.html' %}
{% block content %}
{% load static %}
<!-- Bibliothèque Detail Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s" style="min-height: 400px; max-height:500px;">
                <div class="position-relative h-100">
                    <img class="img-fluid position-absolute w-100 h-100" src="{% static 'img/carousel-2.jpg' %}" alt="" style="object-fit: cover;">
                </div>
            </div>
            <div class="col-lg-8 wow fadeInUp" data-wow-delay="0.3s">
                <h6 class="section-title bg-white text-start text-primary pe-3">Le Social</h6>
                <h1 class="mb-4">Actions socio-sanitaire en milieu carcéral</h1>
                <p class="mb-4">Bénin Excellence travaille aussi au bien-être psychosocial de la population en offrant des séances
                     d’écoute et d’orientation aux personnes dans le besoin d’une oreille empathique et 
                     attentive(notamment les adolescents et les jeunes) . De même, l’ONG au travers de son Département d’Aide
                      et d’Intervention Social dispense un accompagnement social personnalisé (financiers/matériels/sanitaires) 
                      en fonction du besoin de l’usager. Sont concernées par ces actions les personnes démunies, ciblées en fonction 
                      de critères bien déterminés. Des projets sociaux communautaires sont également exécutés pour favoriser
                       l’autonomisation des populations les plus vulnérables.</p>
                 <p class="mb-4">Par ailleurs, Bénin Excellence travaille à aider les anciens détenus dans leur démarche de réinsertion sociale
                        et professionnelle. Elle paye, au besoin, des cautions pour des détenus généralement mineurs, en complément 
                        aux actions menées en milieu carcéral. Bénin Excellence apporte aussi son aide au Centre de Sauvegarde des
                         Mineurs d’Agblangandan à travers un programme médical où des médecins de Bénin Excellence sont chargés de 
                         prodiguer des soins aux pensionnaires du Centre, de façon hebdomadaire.</p>
                      
            </div>
        </div>
    </div>
</div>
<!-- Bibliothèque Detail End -->
{% endblock %}
